
#grid {
    background: #000000;
    /* create lines on the grid - both vertical and horizontal */
    background-image: linear-gradient(#222 1px, transparent 1px), linear-gradient(90deg, #222 1px, transparent 1px);
    margin: 0 auto;
    position: relative;
}